/*Ashley Flores*/

/*CSS reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*code start*/

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
    --blue: #499BD2;
	--dark-grey: #222;
	--light-grey: #EAEAEA;
	--white: #fff;
	--black: #000;

}

@font-face{
	font-family:"Montserrat";
	src:url(https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
	font-weight:400;
	font-style:normal;
}

@font-face{
	font-family:"Molle";
	src:url(https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
	font-weight:400;
	font-style:italic;
}

html{
	margin:auto;
}

header{
	background: linear-gradient(#55BCD5,#fff );
}

h1,h2,h3{
	font-family: "Molle", sans-serif;
}
h4,p,q,small,nav,button,form{
	font-family: "Montserrat", sans-serif;
}

#skip{
	text-decoration:none;
	position:absolute;
	background: #9DC183;
	color:#000;
	transform: translateY(-1000%);
  }
 #skip:focus{
	transform: translateY(0%);
  }

@media only screen and (max-width: 595px) {





header img{
	padding-bottom:5%;
	
}

header nav{
	background-color: var(--white);
	color:var(--black);
	display:none;
}

header label{
	display:block;
	background-color: var(--yellow);
	padding:1em;
	color:var(--black);
	position:relative;
}

nav h2{
	display:none;
}

h1{
	font-size:3em;
	padding-left:10%;
	padding-bottom:2.5%;
}

header p{
	font-size:1.5em;
	margin-left:10%;
	margin-right:10%;
	padding-bottom:5%;
}

#intro h2{
	font-size:3em;
	padding-left:10%;
	padding-bottom:2.5%;
}

#intro p{
	font-size:1.5em;
	margin-left:10%;
	margin-right:10%;
	padding-bottom:5%;
}

#img-grid{
	display:grid;
	grid-row-gap:2.5%;
	margin:auto;
	padding-bottom:15%;
}

#intro img{
	width:100%;
	height:100%;
}

#plan{
	background-color: var(--yellow);
	display:grid;
	grid-row-gap:2.5%;
	margin:auto;
	padding-bottom:15%;

}

#plan h3{
	font-size:3em;
	padding-top:10%;
	padding-left:10%;
	padding-bottom:2.5%;
}

#plan h4{
	font-size:2em;
	font-weight: bold;
}

#plan img{
	display: block;
	background-color: var(--teal);
	padding:20%;
	margin:auto;
	border: var(--white) solid 5px;
	border-radius: 10px;
	width:50%;
	height:50%;
}

#testimonials{
	background-color: var(--white);
	display:grid;
	grid-row-gap:2.5%;
	margin:auto;
	padding-bottom:15%;

}
#testimonials section{
	display:grid;
	margin:5%;
}

#testimonials h3{
	font-size:3em;
	padding-top:10%;
	padding-left:10%;
	padding-bottom:2.5%;
}

#testimonials h4{
	font-size:2em;
	font-weight: bold;
	margin:auto;
	text-align:center;
	text-wrap:balance;

}

#testimonials img{
	display: block;
	margin:auto;
}

#testimonials p{
	font-size:1.5em;
	margin:auto;
	text-align: center;
}
#testimonials q{
	font-size:1.5em;
	font-style:italic;
	text-align: center;
	text-wrap: balance;
}

#about {
	background-color: #499BD2;
	padding:5%;
}

#about h3{
	font-size:3em;
	padding-top:10%;
	padding-left:10%;
	padding-bottom:2.5%;

}

#about div{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin:10%;  
}

#about section{
	display:grid;
	text-align:center;
}

#about h4{
	font-size:2em;
	font-weight: bold;
	margin:auto;
	text-align:center;
	text-wrap:balance;

}
#about p{
	font-size:1.5em;
	margin:auto;
	text-align: center;
	padding:5%;
}

#about img{
	padding:5%;
}

#contact{
	width:100%;
	margin:auto;
}

#contact h3{
	font-size:3em;
	padding-top:10%;
	padding-left:10%;
	padding-bottom:2.5%;

}

form{
	display:block;
	margin:0 auto;
	padding-left:5%;

}

form label{
	display:block;
	font-size:2em;
	padding-left:5%;
}

form input[type=text]{
	border: #9B26B0 solid 5px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right:50%;
	margin:5%;
}

form input[type=email]{
	border: #9B26B0 solid 5px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right:50%;
	margin:5%;
}
form input[type=tel]{
	border: #9B26B0 solid 5px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right:50%;
	margin:5%;
}

form input[type=submit]{
	display:block;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right:50%;
	margin:5%;
	color:#fff;
	background-color: #9B26B0;
	text-align: center;
	font-weight:bold;
	
}

form fieldset{
	display:inline-block;
	font-size:1.5em;
	padding:5%;
}

legend{
	font-size:1em;
	font-weight:bold;
	padding-left:5%;
	text-align: center;
}

footer{
	text-align: center;
	padding:15%;
	background-color: var(--light-grey);
}

footer p {
	padding:5%;
}

footer a{
	text-decoration: none;
	color:#000;
	padding-top:5%;
}

}